<div class="logged-out sign-up first-step" ng-controller="AccountSignupStep1Controller as vm">
  <div class="container">
    <div class="container-alignment">
      <h1 class="logo">eCondos</h1>

      <div class="container-block">
        <ul class="steps">
          <li class="active">
            <a ui-sref="accountSignupStep1" title="Informações Pessoais">
              <span class="icon"><i class="fa fa fa-user"></i></span>
              <span class="title">Informações Pessoais</span>
            </a>
          </li>
          <li>
            <a ui-sref="accountSignupStep2" title="Meu Condomínio">
              <span class="icon"><i class="fa fa-building"></i></span>
              <span class="title">Meu Condomínio</span>
            </a>
          </li>
        </ul>
        <form name="user" ng-submit="vm.save()" promise-btn>
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-group-label">
                    <input class="form-control floating-label"
                           ng-model="vm.user.firstName"
                           type="text" placeholder="Nome" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-group-label">
                    <input class="form-control floating-label"
                           ng-model="vm.user.lastName"
                           type="text" placeholder="Sobrenome" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-group-label">
                    <input class="form-control floating-label mask-date"
                      name="birthDate"
                      type="text" placeholder="Data de Nascimento*"
                      ng-model="vm.user.birthDate" ng-minlength="10" ui-date-mask required>
                  </div>
                  <small class="text-danger" ng-if="user.birthDate.$error.minlength || user.birthDate.$error.date">
                    Verifique a data! Ex: {{ vm.date | date:'dd/MM/yyyy' }}. <br /><br />
                  </small>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-group-label">
                    <input class="form-control floating-label mask-mobile"
                           type="text" placeholder="Celular"
                           ng-model="vm.user.phone" ui-br-phone-number>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
            <br />
              <label class="form-file">
                <div class="change-user-picture">
                  <img src="{{ vm.user.picture.url }}" ng-show="vm.user.picture" />
                  <div class="empty" ng-hide="vm.user.picture"></div>
                  <div class="link" ng-hide="vm.uploading">Alterar Imagem</div>
                  <div class="link" ng-show="vm.uploading">Carregando...</div>
                </div>
                <input type="file" class="hidden" onchange="angular.element(this).scope().uploadPicture(this)">
              </label>
            </div>
          </div>
          <button ng-disabled="user.$invalid" class="btn btn-primary btn-raised" type="submit">
            Próximo Passo
          </button>
          <a ui-sref="accountSignupStep0" class="btn btn-flat btn-default">
            Voltar
          </a>
          <div>
            <br />
            <small class="text-danger" ng-if="user.$error.required">
              Preencha todos os campos!
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
