<div class="logged-out sign-up first-step" ng-controller="AccountSignupStep1Controller as vm">
  <div class="container">
    <div class="container-alignment">
      <h1 class="logo">eCondos</h1>

      <div class="container-block">
        <ul class="steps">
          <li class="active">
            <a ng-href="#/signup/1" title="Informações Pessoais">
              <span class="icon"><i class="fa fa fa-user"></i></span>
              <span class="title">Informações Pessoais</span>
            </a>
          </li>
          <li>
            <a ng-href="#/signup/2" title="Meus Condomínios">
              <span class="icon"><i class="fa fa-building"></i></span>
              <span class="title">Meus Condomínios</span>
            </a>
          </li>
          <li>
            <a ng-href="#/signup/3" title="Minha Família">
              <span class="icon"><i class="fa fa fa-users"></i></span>
              <span class="title">Minha Família</span>
            </a>
          </li>
        </ul>
        <form name="account" ng-submit="vm.save()" promise-btn>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-group-label">
                <input class="form-control floating-label"
                       ng-model="vm.account.firstName"
                       type="text" placeholder="Nome" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-label">
                <input class="form-control floating-label"
                       ng-model="vm.account.lastName"
                       type="text" placeholder="Sobrenome" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-group-label">
                <input class="form-control floating-label mask-date"
                       type="text" placeholder="Data de Nascimento*"
                       ng-model="vm.account.birthDate" uib-datepicker-popup="dd/MM/yyyy" on-open-focus="true" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-label">
                <input class="form-control floating-label mask-mobile"
                       type="text" placeholder="Celular"
                       ng-model="vm.account.phone" ui-br-phone-number>
              </div>
            </div>
          </div>
          <button ng-disabled="account.$invalid" class="btn btn-primary btn-raised" type="submit">
            Próximo Passo
          </button>
          <a href="#/signup" class="btn btn-flat btn-default">
            Voltar
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
