<div class="container">
  <div class="row" ng-if="vm.Session.getCondo()">
    <div class="col-sm-12">
      <form name="postOccurrence" ng-submit="vm.addOccurrence();" promise-btn>
        <div class="panel panel-primary panel-publication">
          <div class="panel-body">
            <uib-tabset>
              <uib-tab heading="Ocorrência Pública" select="vm.setOccurrenceType('PUBLIC')">
                <div class="form-post">
                  <div class="form-group">
                    <input ng-model="vm.occurrence.title" required type="text" placeholder="Escreva um título para a sua ocorrência..." class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea ng-model="vm.occurrence.description" required placeholder="O que você gostaria de reportar?" class="form-control"></textarea>
                  </div>
                  <h5>Imagens:</h5>
                  <div class="form-images">
                    <label class="form-file">
                      <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                      <input type="file" class="hidden" id="occurrenceFiles" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                    </label>
                    <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ trustSrc(picture.url) }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Ocorrência Privada" select="vm.setOccurrenceType('PRIVATE')">
                <div class="form-post">
                  <div class="form-group">
                    <input ng-model="vm.occurrence.title" required type="text" placeholder="Escreva um título para a sua ocorrência..." class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea ng-model="vm.occurrence.description" required placeholder="O que você gostaria de reportar?" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <tags-input ng-model="vm.occurrence.viewers"
                                placeholder="Enviar esta ocorrência para..."
                                display-property="name"
                                key-property="_id"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                      <auto-complete source="vm.getUsers($query)"
                                     load-on-focus="true"
                                     load-on-empty="true"
                                     display-property="name"
                                     min-length="0"></auto-complete>
                    </tags-input>
                  </div>
                  <h5>Imagens:</h5>
                  <div class="form-images">
                    <label class="form-file">
                      <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                      <input type="file" class="hidden" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                    </label>
                    <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ picture.url }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Votação" select="vm.setOccurrenceType('VOTING')" ng-if="vm.Session.isAdmin()">
                <div class="form-post">
                  <div class="form-group">
                    <input ng-model="vm.occurrence.title" required type="text" placeholder="Você é a favor de..." class="form-control">
                    <small>dica: comece a pergunta sempre com "Você é a favor de"</small>
                  </div>
                  <div class="form-group">
                    <textarea ng-model="vm.occurrence.description" required placeholder="Digite algumas informações importantes..." class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <div class="">
                      <span moment-picker="vm.occurrence.votingFrom" format="LL LT" today="true" minutes-step="15">
                        A votação se inicia em: <b>{{ vm.occurrence.votingFrom || 'clique aqui para selecionar uma data' }}</b>
                      </span>
                      <br/>
                      <span moment-picker="vm.occurrence.votingUntil" format="LL LT" today="true" minutes-step="15">
                        e finaliza em: <b>{{ vm.occurrence.votingUntil || 'clique aqui para selecionar uma data' }}</b>
                      </span>
                    </div>
                  </div>
                  <h5>Imagens:</h5>
                  <div class="form-images">
                    <label class="form-file">
                      <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                      <input type="file" class="hidden" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                    </label>
                    <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ picture.url }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Aviso" select="vm.setOccurrenceType('ADVICE')" ng-if="vm.Session.isAdmin()">
                <div class="form-post">
                  <div class="form-group">
                    <input ng-model="vm.occurrence.title" required type="text" placeholder="Qual é o título do aviso?" class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea ng-model="vm.occurrence.description" required placeholder="Agora escreva a mensagem que deseja publicar..." class="form-control"></textarea>
                  </div>
                  <h5>Imagens:</h5>
                  <div class="form-images">
                    <label class="form-file">
                      <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                      <input type="file" class="hidden" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                    </label>
                    <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ picture.url }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <div class="panel-footer">
            <div class="row">

              <div class="col-sm-6"><a type="submit" class="btn btn-sm btn-warning" href="#/feed">Cancelar</a></div>
              <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-lg btn-success pull-right">Publicar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
