<div class="container">
  <div class="row fx-fade-normal" ng-if="vm.Session.getCondo()">
    <div class="col-sm-12">
      <form name="postOccurrence" ng-submit="vm.addOccurrence();" promise-btn>
        <div class="panel panel-primary panel-publication">
          <div class="panel-body">
            <uib-tabset>
              <uib-tab heading="Ocorrência Pública" select="vm.setOccurrenceType('PUBLIC')">
                <div class="form-post">
                  <div class="form-group">
                    <input name="newPublicOccurrenceTitle" ng-model="vm.occurrence.title" required type="text" placeholder="Escreva um título para a sua ocorrência..." class="form-control">
                    <div ng-messages="postOccurrence.newPublicOccurrenceTitle.$error" ng-if="postOccurrence.newPublicOccurrenceTitle.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira o título</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea name="newPublicOccurrenceDescription" ng-model="vm.occurrence.description" required placeholder="O que você gostaria de reportar?" class="form-control"></textarea>
                    <div ng-messages="postOccurrence.newPublicOccurrenceDescription.$error" ng-if="postOccurrence.newPublicOccurrenceDescription.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira a descrição da ocorrência</div>
                    </div>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Ocorrência Privada" select="vm.setOccurrenceType('PRIVATE')">
                <div class="form-post">
                  <div class="form-group">
                    <input name="newPrivateOccurrenceTitle" ng-model="vm.occurrence.title" required type="text" placeholder="Escreva um título para a sua ocorrência..." class="form-control">
                    <div ng-messages="postOccurrence.newPrivateOccurrenceTitle.$error" ng-if="postOccurrence.newPrivateOccurrenceTitle.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira o título</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea name="newPrivateOccurrenceDescription" ng-model="vm.occurrence.description" required placeholder="O que você gostaria de reportar?" class="form-control"></textarea>
                    <div ng-messages="postOccurrence.newPrivateOccurrenceDescription.$error" ng-if="postOccurrence.newPrivateOccurrenceDescription.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira a descrição da ocorrência</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <tags-input ng-model="vm.occurrence.viewers"
                                placeholder="Enviar esta ocorrência para..."
                                display-property="name"
                                key-property="_id"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                      <auto-complete source="vm.getUsers($query)"
                                     load-on-focus="true"
                                     load-on-empty="true"
                                     display-property="name"
                                     min-length="0"></auto-complete>
                    </tags-input>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Votação" select="vm.setOccurrenceType('VOTING')" ng-if="vm.Session.isAdmin()">
                <div class="form-post">
                  <div class="form-group">
                    <input name="newVotingTitle" ng-model="vm.occurrence.title" required type="text" placeholder="Você é a favor de..." class="form-control">
                    <small>dica: comece a pergunta sempre com "Você é a favor de"</small>
                    <div ng-messages="postOccurrence.newVotingTitle.$error" ng-if="postOccurrence.newVotingTitle.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira o título da votação</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea name="newVotingDescription" ng-model="vm.occurrence.description" required placeholder="Digite algumas informações importantes..." class="form-control"></textarea>
                    <div ng-messages="postOccurrence.newVotingDescription.$error" ng-if="postOccurrence.newVotingDescription.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira a descrição do que será votado</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="">
                      <span moment-picker="vm.occurrence.votingFrom" format="LL LT" today="true" minutes-step="15">
                        A votação se inicia em: <b>{{ vm.occurrence.votingFrom || 'clique aqui para selecionar uma data' }}</b>
                      </span>
                      <br/>
                      <span moment-picker="vm.occurrence.votingUntil" format="LL LT" today="true" minutes-step="15">
                        e finaliza em: <b>{{ vm.occurrence.votingUntil || 'clique aqui para selecionar uma data' }}</b>
                      </span>
                    </div>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Aviso" select="vm.setOccurrenceType('ADVICE')" ng-if="vm.Session.isAdmin()">
                <div class="form-post">
                  <div class="form-group">
                    <input name="newAdiviceTitle" ng-model="vm.occurrence.title" required type="text" placeholder="Qual é o título do aviso?" class="form-control">
                    <div ng-messages="postOccurrence.newAdiviceTitle.$error" ng-if="postOccurrence.newAdiviceTitle.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira o título do aviso</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea name="newAdviceDescription" ng-model="vm.occurrence.description" required placeholder="Agora escreva a mensagem que deseja publicar..." class="form-control"></textarea>
                    <div ng-messages="postOccurrence.newAdviceDescription.$error" ng-if="postOccurrence.newAdviceDescription.$touched" style="color:maroon" role="alert">
                        <div ng-message="required">Insira a descrição do aviso</div>
                    </div>
                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
            <div class="form-post">
      			  <div class="form-group">
      				<h5>Imagens:</h5>
            </div>
          </div>
      			<div class="form-post form-images-scroll-bar">
      			  <div class="form-group">

      				<div class="div-images">
                <label class="form-file add-icon">
                  <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                  <input type="file" class="hidden" id="occurrenceFiles" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                </label>
                <div class="form-image form-added-images" ng-repeat="picture in vm.occurrence.pictures">
      						<img ng-src="{{ trustSrc(picture.url) }}"/>
      						<div class="close" ng-click="vm.removePicture($index)">
      							<i class="fa fa-times"></i>
      						</div>
      					</div>
      				</div>
      			  </div>
      			</div>
          </div>
          <div class="panel-footer">
            <div class="row fix-width">
              <div class="col-sm-6"><a type="submit" class="btn btn-lg btn-warning" href="#/feed">Cancelar</a></div>
              <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-lg btn-success pull-right" ng-disabled="postOccurrence.$invalid">Publicar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
