<div class="logged-in" ng-controller="FeedController as vm">

  <div ng-include="'app/modules/feed/navbar/navbar.view.html'"></div>

  <div ui-view></div>

  <section class="body-content">
    <div class="container">
      <div class="row" ng-if="vm.Session.getCondo()">
        <div class="col-sm-12">
          <div class="text-center">
            <strong> Pesquisar por: </strong>
            <div class="btn-group btn-category" role="group">
              <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == undefined) ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = undefined" ng-init="vm.occurrences.type = undefined">Todas</button>
              <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'PUBLIC') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'PUBLIC'">Públicas</button>
              <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'PRIVATE') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'PRIVATE'">Privadas</button>
              <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'VOTING') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'VOTING'">Votações</button>
              <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'ADVICE') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'ADVICE'">Avisos</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br/>
          <div class="panel panel-default post" ng-repeat="occurrence in filteredOccurrences = (vm.occurrences | filter:vm.occurrences.type)">
            <div class="panel-heading">
              <header>
                <div style="padding-left:0px" class="col-xs-3">
                  <div style="float:left">
                    <img class="circle" ng-show="occurrence.createdBy.picture.url" ng-src="{{ trustSrc(occurrence.createdBy.picture.url) }}" alt="icon">
                  </div>
                  <div style="float:left; padding-left:10px; vertical-align:middle">
                    <h4 class="author" style="margin-bottom:5px">{{ occurrence.createdBy.firstName + ' ' + occurrence.createdBy.lastName }}</h4>
                    <small am-time-ago="occurrence.createdAt"></small>
                  </div>
                </div>
                <div class="col-xs-6">
                  <h3 style="text-align:center; margin-top: 5px">{{ occurrence.title }}</h3>
                </div>
                <div class="col-xs-3">
                  <div style="margin-top:13px">
                    <i style="color:#5cb85c" class="fa fa-globe fa-2x pull-right" ng-show="occurrence.type == 'PUBLIC'"></i>
                    <i style="color:#5bc0de" class="fa fa-lock fa-2x pull-right" ng-show="occurrence.type == 'PRIVATE'"></i>
                    <i style="color:#f0ad4e" class="fa fa-check-square-o" ng-show="occurrence.type == 'VOTING'"></i>
                    <i style="color:#d9534f" class="fa fa-newspaper-o" ng-show="occurrence.type == 'ADVICE'"></i>
                    <span style="position: relative; top:4px" class="label label-success pull-right" ng-show="occurrence.type == 'PUBLIC'">Ocorrência Pública</span>
                    <span style="position: relative; top:4px;" class="label label-info pull-right" ng-show="occurrence.type == 'PRIVATE'">Ocorrência Privada</span>
                    <span style="position: relative; top:4px;" class="label label-warning pull-right" ng-show="occurrence.type == 'VOTING'">Votação</span>
                    <span style="position: relative; top:4px;" lass="label label-danger pull-right" ng-show="occurrence.type == 'ADVICE'">Aviso</span>
                  </div>
                </div>
              </header>
            </div>
            <div class="panel-body occurrence">
              <div class="pull-right" ng-if="occurrence.type == 'VOTING'">
                <div class="btn-group options">
                  <button type="button" ng-class="{'btn-success': vm.findOccurrenceVote(occurrence.favorVotes)}" class="btn" ng-click="vm.voteOccurrence(occurrence, true)" ng-disabled="!occurrence.isVoting">
                    Sim <span class="badge" ng-show="occurrence.favorVotes.length">{{ occurrence.favorVotes.length }}</span>
                  </button>
                  <button type="button" ng-class="{'btn-danger': vm.findOccurrenceVote(occurrence.againstVotes)}" class="btn" ng-click="vm.voteOccurrence(occurrence, false)" ng-disabled="!occurrence.isVoting">
                    Não <span class="badge" ng-show="occurrence.againstVotes.length">{{ occurrence.againstVotes.length }}</span>
                  </button>
                </div>
                <br>
                <small ng-if="!occurrence.isVoting">Votação fechada!</small>
                <small ng-if="occurrence.isVoting">Votação será encerrada <span am-time-ago="occurrence.votingUntil"></span></small>
              </div>
              <p class="description">
                {{ occurrence.description }}
              </p>

              <section class="section pdb0">
                <div class="container-fluid display-inline-block">
                  <div class="demo-gallery mrb50">
                    <div class="demo-gallery">
                      <ul id="lightgallery" class="list-unstyled" ng-if="occurrence.pictures.length">
                        <li class="col-xs-6 col-sm-4 col-md-3 justified-gallery gallery-image-size" lightgallery ng-repeat="picture in occurrence.pictures" data-src="{{trustSrc(picture.url)}}" data-sub-html="">
                          <a href="">
                            <!--<cl-image public-id="{{picture.publicId}}" class="img-responsive" format="jpg">-->
                            <!--<cl-transformation height="133" width="133" crop="fill" gravity="auto" quality="auto"/>-->
                            <!--</cl-image>-->
                            <img class="img-responsive" ng-src="{{trustSrc(picture.thumbnail)}}">
                            <div class="demo-gallery-poster">
                              <img src="img/zoom.png">
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>


              <button class="btn btn-success btn-sm" ng-click="vm.likeOccurrence(occurrence)" ng-disabled="occurrence.isLoading">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="badge" ng-show="occurrence.likers.length">{{ occurrence.likers.length }}</span>
              </button>
            </div>

            <div class="panel-footer comments">
              <span style="padding-left:10px">Comentários
                <span class="badge">{{ occurrence.commentsTotal }}</span> &nbsp;&nbsp;
                <a href="javascript:void(0);" ng-show="occurrence.commentsTotal > 3" ng-click="occurrence.comments.length === occurrence.commentsTotal ? vm.hideComments(occurrence) : vm.showComments(occurrence)" promise-btn>
                  <i class="fa fa-angle-up" ng-class="{'fa-angle-up' : occurrence.comments.length === occurrence.commentsTotal, 'fa-angle-down': occurrence.comments.length < occurrence.commentsTotal}"></i>
                  <small ng-bind="occurrence.comments.length === occurrence.commentsTotal ? 'Esconder comentários' : 'Ver todos os comentários'"></small>
                </a>
              </span>
              <div class="list-group">
                <div class="list-group-item comment" ng-repeat="comment in occurrence.comments | orderBy:'createdAt'">
                  <div class="media">
                    <div class="media-left row-picture" style="padding-left: 10px;">
                      <img class="circle" ng-show="comment.createdBy.picture" ng-src="{{ trustSrc(comment.createdBy.picture.url) }}" alt="icon">
                    </div>
                    <div class="media-body">
                      <div class="row-content">
                        <h3 class="list-group-item-heading">{{ comment.createdBy.firstName + ' ' + comment.createdBy.lastName }}
                          <small am-time-ago="comment.createdAt"></small>
                        </h3>
                        <pre class="list-group-item-text">{{ comment.description }}</pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form ng-submit="vm.commentOccurrence(occurrence)" promise-btn class="list-group form-horizontal">
                <div style="padding-left:25px" class="form-group input-group pl-15">
                  <textarea class="padding-5 form-control custom-control"
                            ng-keyup="$event.keyCode == 13 && !$event.shiftKey && vm.commentOccurrence(occurrence)"
                            rows="1"
                            msd-elastic
                            ng-model="occurrence.newComment"
                            placeholder="Escreva um comentário">
                  </textarea>
                  <span style="padding-right:25px;" class="input-group-btn">
                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-angle-right"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="text-center" ng-show="!vm.occurrences.length && vm.occurrences.$resolved">
            <p>Nenhuma ocorrência foi encontrada</p>
          </div>
          <div class="text-center" ng-show="vm.occurrences.length > 0 && filteredOccurrences.length === 0">
            <p>Nenhuma ocorrência deste tipo foi postada.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
