<div class="logged-in" ng-controller="FeedController as vm">

  <div ng-include="'app/modules/feed/navbar/navbar.view.html'"></div>

	<div class="container">
    <div class="row" ng-if="vm.Session.getCondo()">
      <div class="col-sm-12">
        <form name="postOccurrence" ng-submit="vm.addOccurrence();" promise-btn>
          <div class="panel panel-primary panel-publication">
            <div class="panel-body">
              <uib-tabset>
                <uib-tab heading="Ocorrência Pública" select="vm.setOccurrenceType('PUBLIC')">
                  <div class="form-post">
                    <div class="form-group">
                      <input ng-model="vm.occurrence.title" required type="text" placeholder="Escreva um título para a sua ocorrência..." class="form-control">
                    </div>
                    <div class="form-group">
                      <textarea ng-model="vm.occurrence.description" required placeholder="O que você gostaria de reportar?" class="form-control"></textarea>
                    </div>
                    <h5>Imagens:</h5>
                    <div class="form-images">
                      <label class="form-file">
                        <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                        <input type="file" class="hidden" id="occurrenceFiles" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                      </label>
                      <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ trustSrc(picture.url) }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab heading="Ocorrência Privada" select="vm.setOccurrenceType('PRIVATE')">
                  <div class="form-post">
                    <div class="form-group">
                      <input ng-model="vm.occurrence.title" required type="text" placeholder="Escreva um título para a sua ocorrência..." class="form-control">
                    </div>
                    <div class="form-group">
                      <textarea ng-model="vm.occurrence.description" required placeholder="O que você gostaria de reportar?" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <tags-input ng-model="vm.occurrence.viewers"
                          placeholder="Enviar esta ocorrência para..."
                          display-property="name"
                          key-property="_id"
                          add-from-autocomplete-only="true"
                          replace-spaces-with-dashes="false">
                        <auto-complete source="vm.getUsers($query)"
                            load-on-focus="true"
                            load-on-empty="true"
                            display-property="name"
                            min-length="0"></auto-complete>
                      </tags-input>
                    </div>
                    <h5>Imagens:</h5>
                    <div class="form-images">
                      <label class="form-file">
                        <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                        <input type="file" class="hidden" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                      </label>
                      <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ picture.url }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab heading="Votação" select="vm.setOccurrenceType('VOTING')" ng-if="vm.Session.isAdmin()">
                  <div class="form-post">
                    <div class="form-group">
                      <input ng-model="vm.occurrence.title" required type="text" placeholder="Escreva a pergunta que você deseja responder com a sua votação..." class="form-control">
                    </div>
                    <div class="form-group">
                      <textarea ng-model="vm.occurrence.description" required placeholder="Digite algumas informações importantes..." class="form-control"></textarea>
                    </div>
                    <h5>Imagens:</h5>
                    <div class="form-images">
                      <label class="form-file">
                        <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                        <input type="file" class="hidden" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                      </label>
                      <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ picture.url }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab heading="Aviso" select="vm.setOccurrenceType('ADVICE')" ng-if="vm.Session.isAdmin()">
                  <div class="form-post">
                    <div class="form-group">
                      <input ng-model="vm.occurrence.title" required type="text" placeholder="Qual é o título do aviso?" class="form-control">
                    </div>
                    <div class="form-group">
                      <textarea ng-model="vm.occurrence.description" required placeholder="Agora escreva a mensagem que deseja publicar..." class="form-control"></textarea>
                    </div>
                    <h5>Imagens:</h5>
                    <div class="form-images">
                      <label class="form-file">
                        <i class="fa" ng-class="vm.uploading ? 'fa-spinner fa-spin' : 'fa-plus'"></i>
                        <input type="file" class="hidden" ng-model="vm.occurrence.files" onchange="angular.element(this).scope().uploadPictures(this)" multiple>
                      </label>
                      <span class="form-image" ng-repeat="picture in vm.occurrence.pictures">
                        <img ng-src="{{ picture.url }}" />
                        <div class="close" ng-click="vm.removePicture($index)">
                          <i class="fa fa-times"></i>
                        </div>
                      </span>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
            <div class="panel-footer">
              <div class="text-right">
                <button type="submit" class="btn btn-sm btn-primary">Publicar</button>
              </div>
            </div>
         </div>
        </form>
        <div class="text-center">
          <strong> Pesquisar por: </strong>
          &nbsp;&nbsp;&nbsp;
          <div class="btn-group btn-category" role="group">
            <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == undefined) ? 'btn-primary' : 'btn-white'"  ng-click="vm.occurrences.type = undefined" ng-init="vm.occurrences.type = undefined">Todas</button>
            <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'PUBLIC') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'PUBLIC'">Públicas</button>
            <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'PRIVATE') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'PRIVATE'">Privadas</button>
            <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'VOTING') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'VOTING'">Votações</button>
            <button type="button" class="btn btn-default" ng-class="(vm.occurrences.type == 'ADVICE') ? 'btn-primary' : 'btn-white'" ng-click="vm.occurrences.type = 'ADVICE'">Avisos</button>
          </div>
        </div>
        <br />
        <div class="panel panel-default post" ng-repeat="occurrence in filteredOccurrences = (vm.occurrences | filter:vm.occurrences.type)">
          <div class="panel-heading">
            <header>
              <div class="icon">
                <i class="fa fa-globe" ng-show="occurrence.type == 'PUBLIC'"></i>
                <i class="fa fa-lock" ng-show="occurrence.type == 'PRIVATE'"></i>
                <i class="fa fa-check-square-o" ng-show="occurrence.type == 'VOTING'"></i>
                <i class="fa fa-newspaper-o" ng-show="occurrence.type == 'ADVICE'"></i>
              </div>
              <div class="title">
                <div class="info">
                  <span class="label label-lg" ng-show="occurrence.type == 'PUBLIC'">Ocorrência Pública</span>
                  <span class="label label-lg" ng-show="occurrence.type == 'PRIVATE'">Ocorrência Privada</span>
                  <span class="label label-lg" ng-show="occurrence.type == 'VOTING'">Votação</span>
                  <span class="label label-lg" ng-show="occurrence.type == 'ADVICE'">Aviso</span>
                  &nbsp;
                  <small class="author">{{ occurrence.createdBy.firstName + ' ' + occurrence.createdBy.lastName }}</small>
                  <small class="pull-right" am-time-ago="occurrence.createdAt"></small>
                </div>
                <h4>{{ occurrence.title }}</h4>
              </div>
            </header>
          </div>

          <div class="panel-body occurrence">
            <div class="btn-group options pull-right" ng-if="occurrence.type == 'VOTING'">
              <button type="button" ng-class="{'btn-success': vm.findOccurrenceVote(occurrence.favorVotes)}" class="btn" ng-click="vm.voteOccurrence(occurrence, true)" ng-disabled="occurrence.isVoting">
                Sim <span class="badge" ng-show="occurrence.favorVotes.length">{{ occurrence.favorVotes.length }}</span>
              </button>
              <button type="button" ng-class="{'btn-danger': vm.findOccurrenceVote(occurrence.againstVotes)}" class="btn" ng-click="vm.voteOccurrence(occurrence, false)" ng-disabled="occurrence.isVoting">
                Não <span class="badge" ng-show="occurrence.againstVotes.length">{{ occurrence.againstVotes.length }}</span>
              </button>
            </div>
            <p class="description">
              {{ occurrence.description }}
            </p>

            <ul class="images" ng-if="occurrence.pictures.length">
              <li class="image" lightgallery ng-repeat="picture in occurrence.pictures" data-src="{{trustSrc(picture.url)}}">
                <img ng-src="{{trustSrc(picture.url)}}" />
              </li>
            </ul>

            <button class="btn btn-success btn-sm" ng-click="vm.likeOccurrence(occurrence)" ng-disabled="occurrence.isLoading">
              <i class="fa fa-thumbs-o-up"></i>
              <span class="badge" ng-show="occurrence.likers.length">{{ occurrence.likers.length }}</span>
            </button>
          </div>

          <div class="panel-footer comments">
            <h4>Comentários <span class="badge">{{ occurrence.commentsTotal }}</span></h4>
            <div class="list-group">
              <a href="javascript:void(0);" class="simple" ng-click="vm.showComments(occurrence)" ng-hide="occurrence.isShowingAllComments || !occurrence.comments.length || occurrence.commentsTotal <= occurrence.comments.length" promise-btn><i class="fa fa-angle-down"></i> Ver todos os comentários</a>
              <a href="javascript:void(0);" class="simple" ng-click="vm.hideComments(occurrence)" ng-show="occurrence.isShowingAllComments"><i class="fa fa-angle-up"></i> Esconder comentários</a>
              <br /><br />
              <div class="list-group-item comment" ng-repeat="comment in occurrence.comments | orderBy:'createdAt'">
                <div class="row-picture" ng-show="comment.createdBy.picture">
                  <img class="circle" ng-src="{{ trustSrc(comment.createdBy.picture.url) }}" alt="icon">
                </div>
                <div class="row-content">
                  <h3 class="list-group-item-heading">{{ comment.createdBy.firstName + ' ' + comment.createdBy.lastName }} <small am-time-ago="comment.createdAt"></small></h3>
                  <p class="list-group-item-text">{{ comment.description }}</p>
                </div>
              </div>
            </div>
            <form ng-submit="vm.commentOccurrence(occurrence)" promise-btn class="list-group">
              <div class="input-group">
                <input type="text" ng-model="occurrence.newComment" class="form-control" placeholder="Escreva um comentário">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-angle-right"></i></button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="text-center" ng-hide="vm.occurrences.length">
          <p>Nenhuma ocorrência foi encontrada</p>
        </div>
        <div class="text-center" ng-show="vm.occurrences.length > 0 && filteredOccurrences.length === 0">
          <p>Ops! Nenhuma ocorrência deste tipo foi postada.</p>
        </div>
      </div>
    </div>
  </div>
</div>
