<div class="logged-out login" ng-controller="AccountLoginController as vm">
  <div class="container">
    <div class="container-alignment">
      <h1 class="logo">eCondos</h1>
      <form ng-submit="vm.login()" promise-btn>
        <div class="container-block">
          <div class="form-group form-group-label">
            <input class="form-control floating-label" type="email" placeholder="E-mail"
                   ng-model="vm.user.login">
          </div>
          <div class="form-group form-group-label">
            <input class="form-control floating-label" type="password" placeholder="Senha"
                   ng-model="vm.user.password">
          </div>
          <button type="submit" class="btn btn-primary btn-raised">
            Entrar
          </button>
          <button type="button" ng-click="vm.resetPassword()" class="btn btn-flat btn-forgot-password btn-default" promise-btn>
            Esqueci minha senha
          </button>
        </div>
      </form>
      <a href="/#/signup" title="Criar minha conta" class="link">Criar minha conta</a>
    </div>
  </div>
</div>
