{{"<!-- Start Blog Section -->" | safeHTML}}
{{with .Site.Params.blog}}
<div class="container">
        <section id="blog">
                <div class="container  blog-heading" style="background-image: transparent url('{{.bgimage}}');">

      <div class="row" >
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="heading-text">
            <h1>{{.title}}</h1>
            <span class="subheading">{{.subtitle}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{{.post}}">
            <h2 class="post-title">
              {{.post_title}}
            </h2>
            <h3 class="post-subtitle">
                    {{.post_subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{.author}}</a>
            on {{.date}}</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, obcaecati qui? Officia consequatur nam sit vero maxime culpa exercitationem adipisci quibusdam voluptatibus, eaque facilis aut! Cum, quam. Impedit, quod accusamus!
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">author</a>
            Date</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Lorem ipsum dolor sit amet consectetur,            </h2>
            <h3 class="post-subtitle">
                    adipisicing elit. Quam vel illum dolore adipisci error officiis odio voluptatum nihil beatae tempore ullam architecto, iste necessitatibus iusto assumenda quaerat tenetur totam? Beatae.
            </h3>
          </a>

        </div>
        <hr>
        <<div class="post-preview">
                <a href="post.html">
                  <h2 class="post-title">
                    Lorem ipsum dolor sit amet consectetur,            </h2>
                  <h3 class="post-subtitle">
                          adipisicing elit. Quam vel illum dolore adipisci error officiis odio voluptatum nihil beatae tempore ullam architecto, iste necessitatibus iusto assumenda quaerat tenetur totam? Beatae.
                  </h3>
                </a>

              </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
</section>
</div>



{{"<!-- /blog -->" | safeHTML}}
{{end}}