{{ if .Site.Params.contact.enable }}
<div class="container mb-3" id="contact-us">
  <div class="row">
    <div class="col-12 col-md-6 my-auto text-center">
      <h2 class="align-middle" id="contact-response" >{{ .Site.Params.contact.title}}</h2>
    </div>
    <div class="col-12 col-md-6 my-auto">
      <form method="POST" onsubmit="return contact()" accept-charset="UTF-8" class="form-inline">
        <input type="email" id="email" class="form-control mt-2 mb-2 mr-2 col-12 col-md-8" required="true" placeholder="Your email">
        <button type="submit" class="btn mt-2 mb-2 col-12 col-md-3">Subscribe</button>
      </form>
    </div>
  </div>
</div>
{{ end }}