{{ if .Site.Params.GlobalContainer.enable }}
{{ "<!-- container Start -->" | safeHTML}}
<section id="first-container">
        <div class="section-container">
                
    <div class="container">
        <div class="flex-row">
            <div class="section-container">
                        <video playsinline="" loop="" autoplay="" muted="" prelad="auto" class="video-container  b-lazy b-loaded">
                                <source src="{{ .Site.Params.GlobalContainer.vidBoat1}}">
                        </video>
                </div>
            </div>
        </section>

{{end}}




