<!-- Header Start -->
<!-- Header Start -->
<header >

<div class="jumbotron">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="navbar-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target" >
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand logo" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }} Logo">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse_target">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link"  href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></li>
            {{ range $.Site.Menus.header }}
            <li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

</header>