<div class="container" >
  <div class="section section--full section--iconsbox " >
    <div class="full-width-spacer"> </div>
    <div class="full-width-content">
      <div class="section--full__container">
        <h2 style="color:#eeeeee;">{{ .Site.Params.iconsbox.title }}</h2>
        <div class="section-iconsbox-icons">
          <div class="section-iconsbox-icon section-iconsbox-icon-1">
            <div class="section--iconsbox__image">
              <i class="fa {{ .Site.Params.iconsbox.first_glyph }}" style="font-size:4em;color:whitesmoke"></i>
            </div>
            <p class="is-white">{{ .Site.Params.iconsbox.first_paragraph }}</p>
          </div>
          <div class="section-iconsbox-icon section-green-icon-2">
            <div class="section--iconsbox__image">
              <i class="fa {{ .Site.Params.iconsbox.second_glyph }}" style="font-size:4em;color:whitesmoke"></i>
            </div>
            <p class="is-white">{{ .Site.Params.iconsbox.second_paragraph }}</p>
          </div>
          <div class="section-iconsbox-icon section-iconsbox-icon-3">
            <div class="section--iconsbox__image">
              <i class="fa {{ .Site.Params.iconsbox.third_glyph }}" style="font-size:4em;color:whitesmoke"></i>
            </div>
            <p class="is-white">{{ .Site.Params.iconsbox.third_paragraph }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

