    
        <div class="container" >
                 
                <div class="bgvideo-container">
                       
                              <video playsinline="" loop="" autoplay="" muted="" prelad="auto" class="video-container  b-lazy b-loaded"  type="video/mp4">
                                      <source src="{{ .Site.Params.info.bgVideo}}">
                              </video>
                       
                           
                      <div class="overlay-desc">
                              <div class="overlay_text">
                         <h2>{{ .Site.Params.info.title | safeHTML}}</h2>
                         <h3> {{ .Site.Params.info.paragraph | safeHTML}}</h3>
                        </div>
                      </div>
                     </div>
                    </div>

   

                       
                         