    
        <div class="container" >
                 
                <div class="bgvideo-container">
                       
                              <video playsinline="" loop="" autoplay="" muted="" prelad="auto" class="video-container  b-lazy b-loaded"  type="video/mp4">
                                      <source src="{{ .Site.Params.info.bgVideo}}">
                              </video>
                       
                           
                      <div class="overlay-desc">
                         <h2>FORGET ROBO-CARS AND HIT <br> THE WATER ON AN AUTONOMOUS BOAT</h2>
                         <h3> Large and small—self-piloting boats, could save fuel, prevent 
                             expensive accidents and groundings, 
                             and relieve crews of some of mundanity of life on the water.</h3>
                      </div>
                     </div>
                    </div>

   

                       
                         