<section id="intro">
        <div class="flex-row d-flex justify-content-center">

        <div class="flex-container">
                  <div>
                  <h2>{{ .Site.Params.wrapper.title }}</h2>
                </div>
                <p>{{ .Site.Params.wrapper.paragraph }}</p>
        
                    <video playsinline="" loop="" autoplay="" muted="" prelad="auto">
                            <source src="{{ with .Site.Params.wrapper.image }} {{ . | absURL }} {{ end }}">
                    </video>               
       
        </div>
        </div>
      </section>

 <!--    -->