@lost flexbox flex;


.containerg{
	lost-center: content-width 10px +above('m');
	lost-center: content-width 20px;
}
.container--no-margins{
	lost-center: content-width;
}
.full-width-container{
	max-width: content-width;
	margin-left : auto;
	margin-right : auto;
	padding-left : 10px;
	padding-right : 10px

	+above('m');
		padding-left: 20px;
		padding-right : 20px;
}
.full-width-container-full{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px

	+above('m');
		padding-left: 20px;
		padding-right: 20px;
}
.section-container{
	max-width: content-width;
	margin-left: auto;
	margin-right :auto;
	padding: 2px 4px

	+above('m');
		padding: 6px 20px;
}
.full-bleed-container{
	lost-flex-container: row;
}
