<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><strong><i class="fa fa-close fa-circled"></i> &nbsp;Escolha uma opção:</strong></h4>
  </div>
  <div class="modal-body residents modal-body-crudCondoUser">
    <div class="panel residents panel-default">
      <div class="panel-body">
  	    <div class="panel residents panel-default econdos">
          <div class="panel-body">
            <a class="btn btn-primary btn-raised pull-left" ng-click="vm.close()">Cancelar</a>
            <a class="btn btn-primary btn-raised pull-right" ng-click="vm.removeFromCondo()">Prosseguir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
