<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smartwork - Work smart together</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    =========================
    ICONS
    ========================= -->
    <!--IONICONS-->
    <!-- <link rel="stylesheet" href="css/ionicons.min.css?v=20180707"> -->
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css?v=20180707" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css?v=20180707">
    <!--
    =========================
    THIRD PARTY PLUGINS
    ========================= -->
    <!-- MANIFIC POPUPS-->
    <link rel="stylesheet" href="css/magnific-popup.css?v=20180707?v=20180707">
    <!-- OWL CAROUSEL-->
    <link rel="stylesheet" href="css/owl.carousel.min.css?v=20180707">
    <!--SWIPER CAROUSEL-->
    <link rel="stylesheet" href="css/swiper.min.css?v=20180707">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css?v=20180707">
    <!--
    =========================
    MAIN STYLES
    ========================= -->
    <!-- MAIN STYLES-->
    <link rel="stylesheet" href="css/style-custom.css?v=20180707">

    <!-- RESPONSIVE -->
    <link rel="stylesheet" href="css/responsive.css?v=20180707">
    <!--
    =========================
    FAVICONS
    ========================= -->
    <link rel="shortcut icon" href="/favicon.ico"><!-- 16x16 size favicon -->

    <!-- ========================= VUE JS ========================= -->
    <script src="bower_components/vue/dist/vue.js"></script>

    <!-- ========================= ELEMENT UI ========================= -->
    <!-- import JavaScript -->
    <script src="bower_components/element-ui/index.js"></script>
    <link rel="stylesheet" href="bower_components/element-ui/index.css">
    <link rel="stylesheet" href="bower_components/material-icon/material-icons.css" type="text/css" media="screen"/>


</head>
<body>

<div id="container-wrap">
    <div style="margin-bottom: 15px">
        <div class="tab-content">
            <div class="tab-pane active" id="step-0">
                <!--content in tab-->
                <div class="container">
                    <div class="row">

                        <div class="col-md-5 mg-t-40 pd-r-25">
                            <div class="title-smartwork">
                                <div class="title">
                                   Kết nối với<br>Trợ lý Smartwork
                                </div>
                            </div>
                            <div class="mg-t-25">
                                 <span class="decription-title">Sau khi kết nối bạn chỉ cần gửi một
                                     câu lệnh đơn giản cho Trợ lý Smartwork là có thể dễ dàng:</span>
                            </div>
                            <div class="option mg-t-15 pd-l-30">
                                <div>
                                    <i class="material-icons icon-check">check_circle_outline</i>
                                    <span class="select-option">Cập nhật/ Báo cáo tiến độ công việc</span>
                                </div>
                                <div class="mg-t-10">
                                    <i class="material-icons icon-check">check_circle_outline</i>
                                    <span class="select-option">Tạo và phân công công việc</span>
                                </div>
                                <div class="mg-t-10">
                                    <i class="material-icons icon-check">check_circle_outline</i>
                                    <span class="select-option">Quản lý công việc của nhân viên cấp dưới</span>
                                </div>
                            </div>

                            <div class="form-content mg-t-30">
                                <div class="title-input">
                                    Email <span style="color: red">*</span>
                                </div>
                                <div class="mg-t-7">
                                    <input type="text" class="form-control input-custom" v-model="org_data.email"
                                           placeholder="Nhập email ...">
                                    <span v-if="org_data.email<=0 && checkConnect == true" class="text-error">
                                        Vui lòng nhập email
                                    </span>
                                </div>

                                <div class="title-input">
                                    Số điện thoại <span style="color: red">*</span>
                                </div>
                                <div class="mg-t-7">
                                    <input type="text" class="form-control input-custom" v-model="org_data.phone"
                                           v-on:keypress="isNumber(event)" placeholder="Nhập số điện thoại ...">
                                    <span v-if="org_data.phone<=0 && checkConnect == true" class="text-error">
                                        Vui lòng nhập số điện thoại
                                    </span>
                                </div>

                                <div class="mg-t-30">
                                    <button type="button" id="btn-connect-api" @click="nextStep2" class="btn btn-primary btn-md">
                                        <span class="text">KẾT NỐI</span>
                                        <i class="material-icons arrow-forward">arrow_forward</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-1 smart-work">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="avatar">
                                                <img class="img-avatar" src="images/resource/avatar4.svg"/>
                                            </div>
                                        </div>
                                        <div class="col-md-8 no-padding">
                                            <div class="text-chat">
                                                <span class="text">/todo Chỉnh sửa tài liệu họp nội bộ</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 offset-md-2 no-padding">
                                            <div class="text-chat-right">
                                                <span class="text">
                                                    <strong>Công việc đã được tạo</strong>
                                                    <br>
                                                    #40 Chỉnh sửa tài liệu họp nội bộ <a href="#" class="detail-link">Xem chi tiết</a>
                                                </span>
                                                <span class="note">
                                                    Tip: /doing #48 để đánh dấu là đang thực hiện công việc này
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="avatar">
                                                <img class="img-avatar-2" src="images/resource/avatar.svg"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mg-t-80">
                                        <div class="mg-l-50">
                                            <img style="width: 500px" src="images/resource/background-1.svg">
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="step-1">
                <!--content in tab-->
                <div class="container">
                    <div class="row pd-t-80">
                        <div class="col-md-6">
                            <img src="images/resource/board-step-2.svg"/>
                        </div>
                        <div class="col-md-6">
                            <div class="content-text">
                                <div class="description">
                                    <span>
                                        Kết nối<br>thành công
                                    </span>
                                </div>

                                <div class="sub-description">
                                    <span>
                                        Cám ơn bạn đã đăng ký dùng thử Smartwork
                                    </span>
                                </div>
                                <div class="mg-t-80 sub-description-2">
                                    <span>Nếu gặp vấn đề gì trong quá trình cài đặt và sử dụng,
                                        bạn có thể liên hệ trực tiếp với nhân viên hỗ trợ qua các hotline:</span>
                                </div>
                                <div>
                                    <span>
                                        <span class="facebook-wrap">
                                            <img class="img-fb" src="images/resource/messenger.png"/>
                                            <a href="#">Facebook</a>
                                        </span>
                                        <span class="zalo-wrap">
                                            <img class="img-zalo"
                                                 src="images/resource/zalo.svg"/>
                                            <a href="#">Zalo</a>
                                        </span>
                                        <span class="phone-wrap">
                                            <i class="material-icons phone">perm_phone_msg</i>
                                            <a href="#">(028) 668 08 662</a>
                                        </span>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 btn-guide-wrapper">
                            <button class="btn btn-primary" id="btn-scroll-guide" @click="scrollGuide">
                                HƯỚNG DẪN CÀI ĐẶT CHI TIẾT
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="display: inherit;">
                            <div class="col-md-5 mg-t-96 no-padding">
                                <div class="parent-text">
                                    <div>
                                        <span class="number" style="">01</span>
                                    </div>
                                    <div>
                                        <span class="detail">Nhập Username</span>
                                    </div>
                                    <div>
                                        <span class="detail-des">- Nhập Username vào vùng nhập văn bản<br>- Nhấn chọn nút Tiếp tục </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 mg-t-80 no-padding">
                                <img style="width: 97%" src="images/resource/screen_1.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="display: inherit;">

                            <div class="col-md-7 mg-t-80 no-padding">
                                <img style="width: 97%" src="images/resource/screen_2.svg" />
                            </div>
                            <div class="col-md-5 mg-t-96 pd-l-50">
                                <div class="parent-text">
                                    <div>
                                        <span class="number">02</span>
                                    </div>
                                    <div>
                                        <span class="detail">Xác nhận tài khoản</span>
                                    </div>
                                    <div>
                                        <span class="detail-des">Nhấn chọn “Tôi không phải là robot”</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="display: inherit;">
                            <div class="col-md-5 mg-t-96" style="padding: 0px 40px 0px 0px;">
                                <div class="parent-text">
                                    <div>
                                        <span class="number">03</span>
                                    </div>
                                    <div>
                                        <span  class="detail">Nhập email và mật khẩu</span>
                                    </div>
                                    <div>
                                        <span  class="detail-des">
                                            - Nhập email <br>
                                            - Nhập mật khẩu <br>
                                            - Sau đó nhấn chọn “Claim Account” để đăng ký tài khoản
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 mg-t-80 no-padding">
                                <img style="width: 97%" src="images/resource/screen_3.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-100">
                        <div class="col-md-12 text-center">
                            <div>
                                <span class="download-title">TẢI ỨNG DỤNG</span>
                                <br>
                                <span class="description-download">Ngoài sử dụng trực tiếp ứng dụng trên Trình duyệt Web. Bạn có thể tải ứng dụng về máy tính</span>
                            </div>
                            <div class="mg-t-20 mg-bt-100">
                                <button class="btn btn-primary" style="background-color: #f5a623">
                                    <span class="text-download-discord" style="">Tải phần mềm cho <strong>Mac OS</strong></span>
                                </button>
                                <button class="btn btn-primary mg-l-20" style="background-color: #f5a623">
                                    <span class="text-download-discord">Tải phần mềm cho <strong>Window</strong></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span style="font-size: 12px;color: #ababab;font-weight: normal;">Copyright © 2018 Một sản phẩm của Cloudjet Soluitons.</span>
            </div>
            <div class="col-md-6" v-if="active==0">
                <span style="float:right;padding-right: 60px">
                    <span style=" padding-left: 20px;padding-right: 20px;border-right: 1px solid #e4e4e4;">
                        <img style="width: 15px; height: 15px"
                             src="images/resource/messenger.png"/>
                        <a style="color: #5694ed;font-size: 12px;" href="#">Facebook</a>
                    </span>
                    <span style="padding-left: 20px;padding-right: 20px;border-right: 1px solid #e4e4e4;">
                        <img style="width: 15px; height: 15px"
                             src="images/resource/zalo.svg"/>
                        <a style="color: #5694ed;font-size: 12px;" href="#">Zalo
                        </a>
                    </span>
                    <span style=" padding-left: 20px;padding-right: 20px;">
                        <i class="material-icons phone">perm_phone_msg</i>
                        <a style="color: #5694ed;font-size: 12px;" href="#">(028) 668 08 662
                        </a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
<footer>

</footer>


<!-- ========================= VENDORS JS ========================= -->
<script src="js/vendors/jquery.min.js?v=20180707"></script>
<script src="js/vendors/bootstrap.bundle.min.js?v=20180707"></script>
<script src="js/vendors/jquery.magnific-popup.min.js?v=20180707"></script>
<script src="js/vendors/jquery.easing.min.js?v=20180707"></script>
<script src="js/vendors/swiper.min.js?v=20180707"></script>
<script src="js/vendors/owl.carousel.min.js?v=20180707"></script>


<!-- ========================= CUSTOM JS ========================= -->
<script src="js/custom.js?v=20180707"></script>


<script>
    var start = new Vue({
        el: '#container-wrap',
        delimiters: ["${", "}$"],
        data: {
            active: 0,

            // step-1
            org_data: {
                email: '',
                phone: '',
            },
            checkConnect : false,
            // domain
            domain: 'http://kpi.happyworking.life',
            //domain: 'http://localhost:8003',

        },
        methods: {
            validEmail: function () {
                var self = this;
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(self.org_data.email);
            },
            isNumber: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                }
                else {
                    return true;
                }
            },

            scrollGuide: function(){
                $('html, body').animate({
                    scrollTop: $("#btn-scroll-guide").offset().top
                }, 2000);
            },
            nextStep2: function () {
                var self = this;
                if (self.checkValidate()) {

                    $("#btn-connect-api").attr("disabled", true);
                    // run api resgister
                    $.ajax({
                        type: 'post',
                        url: self.domain + '/api/v2/discordinvite/',
                        data: JSON.stringify(self.org_data),
                        contentType: 'application/json',
                        success: function (res) {

                            // next step
                            self.active = 1;
                            self.goToTabNumber(1);

                            // redirect to
                            if(res.data.link.length > 0){
                                window.open(res.data.link, '_blank');
                            }
                        },
                        error: function (res) {
                            alert('Đã có lỗi xãy ra');
                        }
                    });
                }
            },

            goToTabNumber: function (number) {
                // remove active class
                $('#step-0').removeClass('active');
                $('#step-1').removeClass('active');
                $('#step-2').removeClass('active');
                $('#step-3').removeClass('active');
                $('#step-4').removeClass('active');
                //add class active
                $('#step-' + number).addClass('active');
            },
            checkValidate: function () {
                var self = this;
                self.checkConnect = true;
                if (self.org_data.email.length <= 0 || self.org_data.phone.length <= 0) {
                    return false;
                }
                return true;
            },
        },

        created: function () {

        },
        mounted: function () {

        },
    });
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35744404-25"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-35744404-25');
</script>

</html>
