html, body {
  font-family: Century Gothic, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/christmas-colour.png");
  /*background-image: url("https://www.toptal.com /designers/subtlepatterns/patterns/dust_scratches.png");*/
  background-color: rgba(209, 206, 209, 0.3);
  background-size: 500px;
  background-repeat: repeat;
  background-blend-mode: screen;

  overflow-y:hidden;
}

h1{
  /*background-color: pink;/**/
  
  font-size: 12px; 
  font-size: 1.8vw;
  font-size:calc(12px + 1.8vw);

  font-style: normal;
}
p{
  font-size: 10px;
  font-size: 0.9vw;
  font-size:calc(10px + 0.9vw);

  text-align: left;
}

nav {
  background-color: #313236;
  border-radius: 2px;
  text-align:right;
}

nav a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

main{
  /*background-color:red;/**/

  height: 100%;
  padding: 10px 0;
}

main.article{
  margin: auto;
}

article{
  background-color:white;/**/
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 2px;
  display:flex;
  padding: 1% 10px;
  min-width: 400px;
}

address{
  /*background-color:cyan;/**/

  display:block;
  padding: 0 5px 0 10px;
  float: right;
  width: 80%;
  text-align:left;
  min-width: 200px;
}

address .keyWord{
  font-size: 12px;
  font-size: 1vw;
  font-size:calc(12px + 1vw);
  font-style: normal;
}

img{
  /*background-color:orange;/**/

  display: block;
  float: left;
  width: auto;
  height: auto;
  max-width: 18vw;
  max-height: 18vw;
  margin: auto 0px;
}