* {
  padding: 10px;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  text-align: center;
}

p:hover {
  background-color: red;
  animation-name: bg_transition;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bg_transition {
  0% { background-color: red; }
  50% { background-color: blue; }
  100% { background-color: red; }
}

h1 {
  color: blue;
  background-color: red;
  animation-name: bg_transition;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
