<div class="logged-in" ng-controller="CondoResidentsController as vm">
  <div ng-include="'app/modules/feed/navbar/navbar.view.html'"></div>
  <div class="container">
    <h2 class="section-title"><i class="fa fa-users fa-circled"></i><strong>Meu Condomínio</strong> &raquo; {{ vm.condo.name }}</h2>
    <ul class="nav nav-tabs">
      <li ng-style="usersLiStyle" ng-mouseover="usersLiStyle={'background-color': '#FFA90C'};" ng-mouseleave="usersLiStyle={}"><a ng-click="vm.activeUsers()"><i class="fa fa-user" aria-hidden="true"></i> Moradores</a></li>
      <li ng-style="residencesLiStyle" ng-mouseover="residencesLiStyle={'background-color': '#FFA90C'};" ng-mouseleave="residencesLiStyle={}"><a ng-click="vm.activeResidences()"><i class="fa fa-home" aria-hidden="true"></i> Residências</a></li>
    </ul>
    <div class="panel residents panel-default">
      <div class="panel-body" ng-show="vm.isCondoAdmin || vm.isCondoOwner">
        <a ng-show="vm.isResidencesActive" class="btn btn-primary btn-raised pull-right" ng-click="vm.addCondoResidence()">Adicionar Residência</a>
        <a ng-show="vm.isUsersActive" class="btn btn-primary btn-raised pull-right" ng-click="vm.addCondoUserProfile()">Adicionar Morador</a>
      </div>
      <div class="panel-body">
        <div ng-show="vm.isUsersActive">
          <center><h3>Moradores</h3></center>
          <div ng-repeat="user in vm.usersFromCondo">
            <div ng-style="rowStyle" ng-mouseover="rowStyle={'background-color': '#FFA90C', 'color':'white', 'font-weight': 'bold'};" ng-mouseleave="rowStyle={}" class="row grey">
              <div class="col-md-4"><p><span style="color:#9999ff"><i class="fa fa-user" aria-hidden="true"></i></span> {{ (user.firstName) ? user.firstName + ' ' + user.lastName : "Sem nome" }}<span ng-if="vm.user._id == user._id">(eu)</span></p></div>
              <div class="col-md-4"><p>{{ user.condoProfile }}</p></div>
              <div ng-show="vm.showCondoProfileActionButtons(user)">
                <div class="col-md-2 text-center">
                  <span style="color:green"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="vm.updateCondoUserProfile(user)"></i></span>
                </div>
                <div class="col-md-2 text-center">
                  <span style="color:red"><i class="fa fa-times" aria-hidden="true" ng-click="vm.removeUserFromCondo(user)"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="vm.isResidencesActive">
          <center><h3>Residências</h3></center>
          <div ng-repeat="it in vm.residencesSetup">
            <div ng-if="it.profile === 'none'">
              <div ng-style="rowStyle" ng-mouseover="rowStyle={'background-color': '#FFA90C', 'color':'white', 'font-weight': 'bold'};" ng-mouseleave="rowStyle={}" class="row custom">
                <div class="col-md-3"><p><span style="color:#9999ff"><i class="fa fa-home" aria-hidden="true"></i></span> {{ it.residence.identification }}</p></div>
                <div class="col-md-4"><p></p></div>
                <div class="col-md-3"><p></p></div>
                <div ng-show="vm.showResidenceProfileActionButtons(it)">
                  <div class="col-md-1 text-center">
                    <span style="color:blue"><i class="fa fa-plus" aria-hidden="true" ng-click="vm.addCondoResidence(it)"></i></span>
                  </div>
                  <div class="col-md-1 text-center">
                    <span style="color:red"><i class="fa fa-times" aria-hidden="true" ng-click="vm.removeResidenceFromCondo(it)"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="it.profile !== 'none'">
              <div ng-style="rowStyle" ng-mouseover="rowStyle={'background-color': '#FFA90C', 'color':'white', 'font-weight': 'bold'};" ng-mouseleave="rowStyle={}" class="row grey">
                <div class="col-md-3"><p><span style="color:#9999ff"><i class="fa fa-user" aria-hidden="true"></i></span> {{ it.residence.identification }}</p></div>
                <div class="col-md-4"><p>{{ (it.user.firstName) ? it.user.firstName + ' ' + it.user.lastName : "Sem nome" }}</p></div>
                <div class="col-md-3"><p>{{ it.profile }}</p></div>
                <div ng-show="vm.showResidenceProfileActionButtons(it)">
                  <div class="col-md-1 text-center">
                    <span style="color:green"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="vm.updateCondoResidence(it)"></i></span>
                  </div>
                  <div class="col-md-1 text-center">
                    <span style="color:red"><i class="fa fa-times" aria-hidden="true" ng-click="vm.removeResidenceFromCondo(it)"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
