<div class="logged-in" ng-controller="CondoResidentsController as vm">
  <div ng-include="'app/modules/feed/navbar/navbar.view.html'"></div>
  <div class="container">
    <h2 class="section-title"><i class="fa fa-users fa-circled"></i><strong>Moradores do Condomínio</strong> &raquo; {{ vm.condo.name }}</h2>
    <div class="panel panel-box panel-box-residence panel-default"  ng-hide="vm.residence.$resolved || vm.residences.$resolved">
      <div class="panel-body">
        <i class="fa fa-spinner fa-spin"></i> Carregando...
      </div>
    </div>
    <div class="panel residents panel-default" ng-show="vm.residence._id">
      <div class="panel-body">
        <a class="btn btn-primary btn-raised pull-right" ng-click="vm.addUser()">Adicionar Morador</a>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-responsive">
          <thead class="residents thead-inverse">
            <tr>
              <th>Morador</th>
              <th>Residência</th>
              <th>Perfil na Residência</th>
              <th>Perfil no Condomínio</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in vm.residence.requesters">
              <td>{{ (user.firstName) ? user.firstName + ' ' + user.lastName : "Sem nome" }}<span ng-if="vm.user._id == user._id">(eu)</span></td>
              <td>[CONTENT]</td>
              <td>[CONTENT]</td>
              <td>[CONTENT]</td>
              <td><center><i class="residents material-icons green"  ng-click="vm.updateUser(user)">edit</i></center></td>
              <td><center><i class="residents material-icons red" ng-click="vm.removeUser(user)">highlight_off</i></center></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
