<div class="logged-out sign-up second-step" ng-controller="AccountSignupStep2Controller as vm">
  <div class="container">
    <div class="container-alignment">
      <h1 class="logo">eCondos</h1>

      <div class="container-block">
        <ul class="steps">
          <li>
            <a ng-href="#/signup/1" title="Informações Pessoais">
              <span class="icon"><i class="fa fa fa-user"></i></span>
              <span class="title">Informações Pessoais</span>
            </a>
          </li>
          <li class="active">
            <a ng-href="#/signup/2" title="Meus Condomínios">
              <span class="icon"><i class="fa fa-building"></i></span>
              <span class="title">Meu Condomínio</span>
            </a>
          </li>
        </ul>
        <h3>Encontre o seu condomínio</h3><br />

        <form ng-submit="vm.save()" promise-btn>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class='fa fa-search'></i></span>
              <input type="text" ng-model="vm.filterTerm" ng-model-options="{ debounce: 1000 }" ng-change="vm.filterCondos()" class="form-control mask-cep" placeholder="Pesquisar pelo nome, cidade ou cep">
            </div>
          </div>
          <div class="condos-search-response" ng-show="vm.condos.length">
            <div class="panel panel-default" ng-repeat="condo in vm.condos">
              <div class="panel-heading">
                <strong>{{:: condo.name }}</strong>
              </div>
              <div class="panel-body">
                <h5>{{:: condo.address }}</h5>
                <p>{{:: condo.city }}/{{:: condo.state }}</p>
                <a href="" class=" btn btn-default btn-success btn-xs" ng-click="vm.chooseCondo(condo)">
                  <i class="fa fa-plus"></i><span class="hidden-xs">&nbsp; &nbsp;Selecionar</span>
                </a>
              </div>
            </div>
          </div>
          <p class="text-center" ng-show="vm.loading">
            <span class="btn btn-material-grey-200"><i class="fa fa-spin fa-spinner"></i>&nbsp; Carregando</span>
          </p>
          <p ng-show="vm.condos.length || vm.filterTerm">
            <button class="btn btn-material-grey-200" type="button" ng-click="vm.createCondo()">
              Não encontrou?
            </button>
          </p>
          <a href="#/signup/1" class="btn btn-flat btn-default">
            Voltar
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
