<div class="logged-out sign-up second-step" ng-controller="AccountSignupStep2Controller as vm">
  <div class="container">
    <div class="container-alignment">
      <h1 class="logo">eCondos</h1>

      <div class="container-block">
        <ul class="steps">
          <li>
            <a ng-href="#/signup/1" title="Informações Pessoais">
              <span class="icon"><i class="fa fa fa-user"></i></span>
              <span class="title">Informações Pessoais</span>
            </a>
          </li>
          <li class="active">
            <a ng-href="#/signup/2" title="Meu Condomínio">
              <span class="icon"><i class="fa fa-building"></i></span>
              <span class="title">Meu Condomínio</span>
            </a>
          </li>
        </ul>
        <h3>Encontre o seu condomínio</h3><br />

        <form ng-submit="vm.save()" promise-btn>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class='fa fa-search'></i></span>
              <input type="text" ng-model="vm.filterTerm" ng-model-options="{ debounce: 1000 }" ng-change="vm.filterCondos()" class="form-control mask-cep" placeholder="Pesquisar...">
            </div>
          </div>
          <div class="condos-search-response col-sm-7 col-sm-offset-2" ng-show="vm.condos.length">
            <div class="col-sm-12" ng-repeat="condo in vm.condos">
              <table class="table">
                <tr>
                  <tr class="text-center"><strong>{{:: condo.name }}</strong></tr>
                </tr>
                <tr>
                  <td class="visible-xs">
                    <div class="change-user-picture">
                      <!--<img src="{{condo.picture.url}}"/>-->
                      <!--temporario, ajustar backend para retornar a url da imagem do condominio-->
                      <img src="img/icon-condominios.png"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-justify">{{:: condo.address }}</td>
                  <td class="hidden-xs" rowspan="3">
                    <div class="change-user-picture">
                      <!--<img src="{{condo.picture.url}}"/>-->
                      <!--temporario, ajustar backend para retornar a url da imagem do condominio-->
                      <img src="img/icon-condominios.png"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-justify">{{:: condo.cep }}</td>
                </tr>
                <tr>
                  <td class="text-justify">{{:: condo.city }} / {{:: condo.state }}</td>
                </tr>
                <tr>
                  <td><a href="" class=" btn btn-default btn-success btn-xs" ng-click="vm.chooseCondo(condo)">
                    <i class="fa fa-plus"></i>&nbsp; &nbsp;Selecionar
                  </a></td>
                </tr>
              </table>

            </div>
          </div>
          <div class="col-sm-7 col-sm-offset-2">
          <p class="text-center" ng-show="vm.loading">
            <span class=""><i class="fa fa-spin fa-spinner"></i>&nbsp; Carregando</span>
          </p>

          <p class="text-center" ng-show="vm.condos.length || vm.filterTerm">
            <small>Não encontrou seu condominio? </small><br>
            <button class="btn btn-default btn-raised" type="button" ng-click="vm.createCondo()">
              Cadastre aqui!.
            </button>
            <br><small>Cadastre seu condomínio caso não tenha encontrado na lista acima.</small>
          </p>
            <a ui-sref="accountSignupStep1" class="btn btn-flat btn-default">
              Voltar
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
