<nav class="navbar navbar-default" ng-controller="FeedNavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/feed"></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" uib-collapse="vm.isCollapsed">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a ng-href="#/feed{{vm.state.current.name === 'feed.new' ? '' : '/new'}}" class="btn btn-sm btn-success btn-add-occurrence">
            <i class="fa" ng-class="{'fa-plus': vm.state.current.name === 'feed', 'fa-minus': vm.state.current.name === 'feed.new'}"></i> &nbsp; Nova Ocorrência
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="feed">Página Inicial</a></li>
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle ng-click="vm.markNotificationsAsRead()">
            <i class="fa fa-bell hidden-xs"></i>
            <span class="visible-xs">Notificações </span>
            <span class="badge" ng-show="vm.getUnreadNotifications()">{{ vm.getUnreadNotifications() }}</span>
            <b class="caret visible-xs"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="notification in vm.notifications">
              <a>
                <!--<img src="http://placehold.it/18x18" class="profile-image img-circle">-->
                <div class="inline">
                  <strong>{{ notification.createdBy.firstName + ' ' + notification.createdBy.lastName  }}</strong>
                  <span ng-show="notification.type == 'OCCURRENCE:NEW'">adicionou uma publicação</span>
                  <span ng-show="notification.type == 'COMMENT:NEW'">adicionou um novo comentário</span>
                  <br />
                  <small am-time-ago="notification.createdAt"></small>
                </div>
              </a>
            </li>
            <li ng-hide="vm.notifications.length">
              <a>Nenhuma notificação foi encontrada</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown ng-if="vm.user.condos.length > 1">
            <a href="" class="dropdown-toggle" uib-dropdown-toggle>
              {{ vm.condo.name }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="condo in vm.user.condos" ng-if="condo._id != vm.condo._id"><a href="" ng-click="vm.chooseCondo(condo)">{{ condo.name }}</a></li>
            </ul>
        </li>
        <li ng-if="vm.user.condos.length == 1">
          <a class="dropdown-toggle">{{ vm.condo.name }}</a>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="" class="dropown-toggle" uib-dropdown-toggle>
            <i class="fa fa-cog hidden-xs"></i>
            <span class="visible-xs">Configurações </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="feedUser"><i class="fa fa-user"></i> &nbsp; Meu Dados</a></li>
            <li><a href="#/meu-condominio/{{ vm.condo._id }}/integrantes"><i class="fa fa-building"></i> &nbsp; Meu Condomínio</a></li>
            <li><a ng-click="vm.logOut()"><i class="fa fa-sign-out"></i> &nbsp; Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
