<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><strong><i class="fa fa-plus fa-circled"></i>Adicionar Integrante</strong></h4>
</div>
<div class="modal-body">
	<br>      		
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Pesquisar pelo e-mail">
</div>
<br>
<div class="list-group">
  <div class="list-group-item">
      <div class="row-picture">
          <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
      </div>
      <div class="row-content">
          <h4 class="list-group-item-heading">Fulano de Tal</h4>
          <p class="list-group-item-text">
          	<a href="" class="btn btn-default btn-success btn-xs"><i class="fa fa-plus"></i> adicionar</a> 
          </p>
      </div>
  </div>	
  <div class="list-group-item">
      <div class="row-picture">
          <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
      </div>
      <div class="row-content">
          <h4 class="list-group-item-heading">Fulano de Tal</h4>
          <p class="list-group-item-text">
          	<a href="" class="btn btn-default btn-success btn-xs"><i class="fa fa-plus"></i> adicionar</a> 
          </p>
      </div>
  </div>	
  <div class="list-group-item">
      <div class="row-picture">
          <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
      </div>
      <div class="row-content">
          <h4 class="list-group-item-heading">Fulano de Tal</h4>
          <p class="list-group-item-text">
          	<a href="" class="btn btn-default btn-success btn-xs"><i class="fa fa-plus"></i> adicionar</a> 
          </p>
      </div>
  </div>								    
</div>
<h4>Não encontrou?</h4>
  <input type="text" class="form-control" placeholder="Convide através do e-mail">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" ng-disabled="condo.$invalid" ng-click="vm.save()">Salvar</button>
</div>