<div class="logged-out sign-up pre-step" ng-controller="AccountSignupStep0Controller as vm">
  <div class="container">
    <div class="container-alignment">
      <h1 class="logo">eCondos</h1>

      <div class="container-block">
        <form name="user" ng-hide="vm.success" ng-submit="vm.save()" promise-btn>
          <h3>Vamos começar?</h3>

          <div class="form-group form-group-label">
            <input class="form-control floating-label" type="email"
                   ng-model="vm.user.login" name="login"
                   ng-minlength="5" ng-maxlength="100"
                   placeholder="E-mail"
                   required>
          </div>
          <div class="form-group form-group-label">
            <input class="form-control floating-label" type="password"
                   ng-model="vm.user.password" name="password"
                   ng-minlength="5" ng-maxlength="100"
                   placeholder="Senha"
                   required>
          </div>
          <div class="form-group form-group-label">
            <input class="form-control floating-label" type="password"
                   ng-model="vm.user.passwordConfirm" name="passwordConfirm"
                   match="vm.user.password" ng-minlength="5" ng-maxlength="100"
                   placeholder="Confirmar senha"
                   required>
            <small class="text-danger" ng-if="user.passwordConfirm.$error.match">
              A confirmação da senha está incorreta
            </small>
          </div>
          <button type="submit" ng-disabled="user.$invalid" class="btn btn-primary btn-raised">
            Criar minha conta
          </button>
        </form>
        <div class="text-center" ng-show="vm.success">
          <h3><strong>Obrigado por se cadastrar!</strong></h3>
          Verifique seu e-mail para ativar sua conta.
        </div>
      </div>
      <a ui-sref="accountLogin" title="Acessar minha conta" class="link">Acessar minha conta</a>
    </div>
  </div>
</div>
