.logged-in .nav-tabs li a {
	border: 0px solid #fff !important;
	color: #555 !important;
	font-weight: normal;
	border-radius: 0px !important;
	padding: 15px 20px;
	cursor:pointer;
}

.logged-in .nav-tabs li a:hover {
	border: 0px solid #fff !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: 0px !important;
	padding: 15px 20px;
}

.residents {
	.modal-body-crudCondoUser {
		overflow-y: auto;
	}

	.modal-dialog-extendedDisplay {
		width: 900px;
	}

	.label-default {
	  &.econdos {
	    background-color: #FFA90C;
	  }
	}

	.content {
  	display:table-cell;
  	vertical-align:middle;
	}

  .row {
		&.colored {
		  background-color: #EEEEEE;
		}

		&.white {
			background-color: #FFFFFF;
		}

		&.grey {
			background-color: #EEEEEE;
		}

		&.custom {
			background-color: #f4dfb2;
		}

		border: 1px solid #FFA90C;
		margin-top: 1px;
		padding-top: 8px;
		padding-bottom: 0px;
	}

	.panel-default {
	  &.econdos {
	    border: 0px;
	  }
	}

	.material-icons {
	  &.red {
	    color: #E61610;
	  }

	  &.green {
	    color: #72BB53;
	  }

	  &.blue {
	    color: #206CF5;
	  }
	}

	thead th {
	  background-color: #5A5A5A;
	  color: #EEEEEE;
	}
}
