<div class="modal-header">
  <h3 class="modal-title">Adicionar Morador</h3>
</div>
<form name="house" class="modal-body">
  <div class="row">
    <div class="col-sm-10">
      <div class="form-group form-group-label">
        <input class="form-control floating-label" type="text" placeholder="Numero da Unidade"
               ng-model="vm.house.numero" required>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group form-group-label">
        <input class="form-control floating-label" type="text" placeholder="Bloco"
               ng-model="vm.house.bloco" required>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" ng-disabled="condo.$invalid" ng-click="vm.save()">Salvar</button>
</div>
