<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><strong><i class="fa fa-plus fa-circled"></i> &nbsp;Adicionar Integrante</strong></h4>
</div>
<div class="modal-body modal-body-condoCreateUser">
  <div class="input-group">
    <span class="input-group-addon"><i class='fa fa-search'></i></span>
    <input type="text" class="form-control" ng-model="vm.filterTerm" ng-model-options="{ debounce: 1000 }" ng-change="vm.filterUsers()" placeholder="Pesquisar pelo e-mail">
  </div>
  <br />
  <div class="list-group" ng-show="vm.users.length">
    <div class="list-group-item" ng-repeat="user in vm.users">
      <h5 class="list-roup-item-heading">{{ user.firstName }} {{ user.lastName }} <button type="button" class="btn btn-default btn-success btn-xs" ng-click="vm.chooseUser(user)"><i class="fa fa-plus"></i> adicionar</button></h5>
    </div>
  </div>
  <div ng-show="vm.users.length || (!vm.users.length && vm.filterTerm)">
    <button class="btn btn-material-grey-200" type="button"  ng-click="vm.createUser()">
      Não encontrou? <strong>Convidar</strong>
    </button>
    <br /><br />
  </div>
</div>
</div>
