	.add-icon {
		width: 89px !important;
		height: 89px !important;
		float: left;
	}

	.form-added-images {
		width: 89px !important;
		margin-left:5px;
		padding-bottom: 20px;
		display:inline-block;
	}

	.display_flex {
		display:inline-flex
	}

	.display_inline_block {
		display:inline-block;
	}
