/********************************
/* BASIC HTML */
/********************************/

html, body, .main-content, .view-frame {
	width: 100%;
	height: 100%;
	display: table;
}

a, button, i, li {
	transition: .20s ease-in-out;
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
	opacity: 1 !important;
}

a, a:hover, a:focus {
    color: $color-primary;
}

h1, h2, h3, h4 {
	font-weight: 300;

	i {
		display: inline-block;
		margin-right: 5px;
		opacity: 0.2;
	}

  .btn {
    margin: 0;
  }
}

/********************************
/* Bootstrap */
/********************************/

.form-group.has-error .form-control {
	box-shadow: none !important;
}

.form-group {
	margin-top: 0;
	margin-bottom: 15px;

	select {
    -webkit-appearance: menulist-button !important;
    appearance: menulist-button !important;
  }
}

.form-control {
	width: 100%;
	padding-left: 0;
  font-size: 15px;
  height: 40px;
	padding: 10px 0;
}

.form-group.label-floating {
	padding-top: 20px;
	padding-bottom: 0;

	input {
		font-size: 16px;
	}

	label.control-label {
		font-size: 16px;
		top: 5px;
		font-weight: 300;
	}

	&.is-focused label.control-label, &:not(.is-empty) label.control-label{
	    top: -8px;
	    font-size: 14px;
	    opacity: 1;
	    color: $color-primary !important;
	}
}

.form-group .form-control:focus, .form-group-default .form-control:focus {
    background-image: linear-gradient($color-primary,$color-primary),linear-gradient(#d2d2d2,#d2d2d2);
}

.btn {
	font-size: 14px;
  padding: 15px 20px;
  border: none;
  border-radius: 3px;

  &.btn-sm {
    font-size: 0.9em;
  }

	&.btn.btn-flat.btn-default {
		color: #999;

		&:hover {
			background: #eee;
		}
	}

	&.btn-primary, &.btn-primary:disabled, &.btn-primary[disabled][disabled] {
		background: $color-primary !important;
		color: #fff;
	}
}

.panel {
  box-shadow: none !important;
  border: 1px solid #ddd;

  &.panel-box {

    &, .panel-body {
      width: auto;
      display: table;
    }
  }

	.panel-heading {
		h4 {
			margin: 10px 0;
		}
	}
}

.list-group-item-text {

	.btn {
		margin: 0px !important;
	}
}

.label {
	font-weight: normal;
  padding: 5px 10px;

	&.label-primary {
		background: $color-primary;
	}
}

.carousel-control {
	background: transparent !important;
}

.input-group-btn {
	font-size: inherit;
}

/********************************
/* Fontawesome */
/********************************/

.fa-circled {
	background: $color-primary;
	color: #fff;
	opacity: 1;
	padding: 10px 10px 10px 10px;
	min-width: 40px;
	text-align: center;
	border-radius: 100px;
	margin-right: 5px;
}

.panel {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25),0 1px 5px 0 rgba(0,0,0,.25);
}

/********************************
/* Global */
/********************************/

.inline {
	display: inline-block;
}

.fa-promise-button {
	display: none;
	margin-left: 10px;
}

.is-loading {
	.fa-promise-button {
		display: inline-block;
	}
}

a.simple {
  color: $color-secundary;
  text-decoration: underline;

  &:hover {
    color: $color-primary;
  }
}

.change-user-picture {
	position: relative;
  border-radius: 200px;
  width: 110px;
  margin: 0 auto;
  cursor: pointer;

	.empty, img {
    width: 100%;
    height: 110px;
	}

	.empty {
		background: url('../assets/images/empty-user-picture.jpg') center no-repeat;
		background-size: 100% auto;
	}

	img {
		object-fit: cover;
	}

	.link {
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		padding: 5px;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		font-weight: normal;
		text-align: center;
		margin: 0 !important;
	}
}

/********************************
/* Logged Out */
/********************************/

.modal-body-condoCreateUser {

  .invite {
    .form-group {
      margin-bottom: 0;
    }

    h5 {
      margin: 0;
      font-size: 14px;
    }
  }

  .input-group-addon {
    padding-left: 0;
  }

  h5 {
    font-weight: normal;
    font-size: 16px;
    margin: 5px 0;
  }

  .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-bottom: 1px solid #ddd;
      padding: 15px;

      .btn {
        margin: 0 0 0 10px !important;
      }

      .list-group-item-heading {
        font-size: 16px;
        line-height: 1.2;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.logged-out {
	background: $color-secundary;
	width: 100%;
	height: 100%;
	display: table;

	/********************************
	/* General */
	/********************************/

	.container {
		display: table !important;
		margin-top: 50px;

		.logo {
			width: 130px;
			height: 100px;
			background: url('../assets/images/logo.png') center no-repeat;
			margin: 0 auto;
			background-size: 100%;
			color: transparent;
			margin-bottom: 30px;
		}

		.container-block {
			padding: 30px;
			background: white;
      display: inline-block;
      min-width: 360px;
		}

		.link {
		    display: block;
		    margin: 30px auto;
		    text-align: center;
		    text-decoration: none;
		    color: $color-primary;

		    &:hover {
		   		color: $color-primary;
		    }
		}

		.buttons {
			margin: 20px 0 0 0;
		}
	}

	.container-alignment {
		margin: 0 auto;
		width: 100%;
		max-width: 450px;
    text-align: center;
    .container-block {
      text-align: left;
    }
	}

	/********************************
	/* Steps */
	/********************************/

	.steps {
		display: table;
		width: 100%;
		margin: 0px;
	    padding: 0;
	    table-layout: fixed;
	    border-collapse: separate;
	    margin-bottom: 30px;

		li {
			list-style: none;
			float: none;
			display: table-cell;
		    position: relative;
			border-radius: 5px;

			a {
				text-decoration: none;
				display: block;
				vertical-align: middle;
				width: 100%;
				padding: 15px;
				font-size: 14px;

				.icon {
					display: inline-block;
					width: 40px;
					height: 40px;
					background: $color-primary;
					vertical-align: middle;
					border-radius: 100px;
					margin-right: 10px;
					text-align: center;

					i {
						color: white;
						font-size: 20px;
						margin-top: 10px;
					}
				}

				.title {
					display: inline-block;
					vertical-align: middle;
					line-height: 20px;
					color: $color-secundary;
				}
			}

			&.active, &:hover {
				background: #eee;

				a {
					.title {
						color: black;
					}
				}
			}

			&.active {

				a {
					cursor: default;
				}
			}
		}
	}

	/********************************
	/* Sign In - Login */
	/********************************/

	&.login {

	}

	/********************************
	/* Sign In - Forgot Password */
	/********************************/

	&.forgot-password {
	}

	/********************************
	/* Sign Up */
	/********************************/

	&.sign-up {
		h4 {
			margin-top: 0px;
		}

		.container-alignment {
			width: 100%;
			max-width: 800px;
		}

	}

	&.pre-step {

		.container-alignment {
			width: 100%;
			max-width: 450px;
		}

	}

	&.second-step {

		.condos-search-response,
		.selected-condos {
			margin-top: 30px;
		}

	}
}


/********************************
/* Logged In */
/********************************/

.logged-in {
	background: #ddd;
	width: 100%;
	height: 100%;
	display: table;

	.carousel {

		.item {

			img {
				background: #eee;
				width: 100%;
				height: 400px;
				object-fit: contain;
			}
		}
	}

	tags-input {

		.tags {
			padding: 9px;
			border: 1px solid #ccc;
			box-shadow: none;

			.input {
				color: $color-secundary;
				width: 250px;
			}

			.tag-item, .input {
				font-size: 15px;
				font-weight: 400;
			}

			.tag-item {
			  border: 0;
		    border-radius: 0;
		    background: $color-primary;

		    &, a {
		    	color: #fff;
		    	text-decoration: none;
		    }
  		}
		}

		.suggestion-item {

			&.selected {
				background: $color-secundary-light;
			}
		}
	}

	.dropdown-menu {
		padding: 0px;
		min-width: 100%;
		border-radius: 0px;

		a {
		    padding: 15px 25px;

			&:hover {
				color: #eee;
        background-color: #717171;
        font-size: 14px;
			}
		}
	}

  .panel-publication {

    .form-control {
      padding: 25px 15px;

      ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
        font-weight: normal;
        font-size: 15px;
        font-family: inherit;
      }
    }

    .tab-content {
      padding: 10px;
    }
  }

	.container-sm {
		max-width: 960px;
	}

	.new-event {
		max-width: 960px;
	}

	.nav-tabs {
		background: transparent;
		padding-bottom: 1px;

		li{

			a {
				border: 1px solid #fff !important;
			    color: #555 !important;
			    font-weight: normal;
			    border-radius: 0px !important;
			    padding: 15px 20px;
			}

			&.active {
				a {
					border: 1px solid #ddd !important;
					border-bottom: 1px solid #fff !important;
				}
			}
		}
	}

  .navbar.navbar .dropdown-menu li > a {
    font-size: 14px;
    color: $color-secundary;
    background-color: #eee;
  }

  .navbar.navbar .dropdown-menu li > a:hover, .navbar-default.navbar .dropdown-menu li > a:hover, .navbar.navbar .dropdown-menu li > a:focus, .navbar-default.navbar .dropdown-menu li > a:focus {
    background-color: #eee;
    color: $color-secundary;
  }

	.navbar-default {
		background: $color-secundary;

		.navbar-brand {
			color: transparent;
			width: 70px;
			min-width: inherit;
      height: 40px;
			background: url('../assets/images/logo.png') center no-repeat;
			background-size: 100%;
			padding: 0;
			display: table;
			margin: 10px;
		}

		.navbar-toggle {
	    margin-right: 5px;
    	margin-top: 13px;
		}

		.navbar-toggle:focus,
		.navbar-toggle:hover {
    	background: transparent;
    	color: $color-primary;
		}

		.navbar-nav {
			& > li > a {
				padding: 20px;
        color: #eee;

        &:hover {
          color: #eee;
        }
			}

      & > .open > a,
      & > .open > a:hover,
      & > .open > a:focus {
        background: $color-secundary-light;
        color: #eee;
      }

			.btn-sm {
				padding: 10px 16px;
        text-transform: none;
			}

			.btn-success.btn-sm:focus {
				background-color: #59b75c;
			}

			.profile-image {
			    width: 30px;
			    height: 30px;
			    margin-right: 10px;
			    margin-top: -5px;
			    margin-bottom: -5px;
			}

			.dropdown-menu {

				.profile-image {
			    	margin-top: -25px;
				}
			}
		}
	}

	.btn-group {
		display: inline-block;
	}

	.btn-category {
		display: inline-block;

		.btn {
		    border-right: 1px solid #eee;
		}
	}

	.marginless {
		margin: 0 !important;
	}

	.notice {
		h4 {
			margin: 5px 0;
			line-height: 25px;
		}

		.close {
			color: $color-secundary;
			opacity: 0.6 !important;
		}

		.author {
			display: inline-block;
			margin: 0 0 0 5px;
			font-size: 14px;
			font-weight: bold;
			color: $color-secundary;
		}
	}

	.comments {
		.form-control {
			padding: 16px;
			background: white;
		}

		.toggle {
			font-size: 12px;
			color: $color-secundary;
		}
	}

	.comment {
    .circle {
  		object-fit: cover;
    }

		.list-group-item-heading{
			font-size: 14px;
			font-weight: bold;
			margin: 0;

			small {
				font-size: 0.8em;
				display: inline-block;
				margin-left: 3px;
			}
		}

		.list-group-item-text {
			font-size: 14px;
		}
	}

	.post {
		header {
			width: 100%;
			display: table;
			margin-top: 5px;

			.icon {
				width: 50px;

				i {
					width: 50px;
					height: 50px;
					font-size: 25px;
					padding: 13px;
					text-align: center;
					color: #fff;
					background: $color-primary;
					display: inline-block;
				}
			}

			.title {
				vertical-align: middle;
				padding-left: 15px;

				h4 {
					font-weight: bold;
					margin-top: 5px;
					color: $color-secundary;
				}

				.info {
					margin-bottom: 10px;
				}

				.label {
					font-size: 12px;
				}

				.author {
					font-weight: bold;
				}
			}

			& > div {
				display: table-cell;
			}
		}

		.description {
			margin: 1px 0 20px 0;
			font-size: 14px;
			line-height: 22px;

			.options {
				margin-left: 20px;

				.btn-gray {
				    background: #eee;
				    color: $color-secundary;
				    border-right: 1px solid #ccc;
				}

				.btn-gray:last-child {
					border: 0;
				}
			}
		}
	}

	.condo-search {
		margin: 0px 0 20px 0;
	}

	.panel .panel {
		box-shadow: none;
		border: 1px solid #ddd;
	}

	.section-title {
		margin: 20px 0 30px 0;
		font-weight: 300;
    color: $color-secundary;

		& > .fa {
			font-size: 20px;
			padding: 15px;
			margin-right: 10px;
			text-align: center;
		}

		.btn {
			margin-top: -5px;
		}
	}

  .form-file {
    background: $color-primary;
    text-align: center;
    color: white;
    background: #FFA90C;
    text-align: center;
    color: #fff;
    padding: 28px;
    font-size: 27px;
    cursor: pointer !important;

    .form-image {
      width: 89px;
      height: 89px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

	.form-post {
		h5 {
			padding: 10px 0;
			font-weight: bold;
		}

		form {
			padding-top: 15px;
		}
		.form-control {
			padding: 25px 15px;
		}


		.form-image {
			position: relative;

			img {
				object-fit: cover;
				width: 89px;
				height: 89px;
				display: block;
				position: absolute;
			}

			.close {
				position: absolute;
				width: 89px;
				height: 89px;
				padding: 33px;
				background: rgba(0, 0, 0, 0.8);

				i {
					font-size: 26px;
					color: #fff;
				}
			}
		}
	}

  .list-group-item-user {
    padding: 6px;

    .list-group-item-heading {
      margin: 0;
      font-weight: normal;
      font-size: 16px;
      vertical-align: middle;

      .label {
        display: inline-block;
        margin-left: 5px;
      }

      .btn {
        margin: 0 0 0 10px;
      }
    }
  }

  .panel-box-residence {

    .form-field {
      margin: 0 15px;
    }

    .form-control, .form-field {
      width: 200px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .form-file {
  	width: 100%;
  }

  .occurrence {

  	.images {
			margin: 0;
			padding: 0;

  		.image {
  			list-style: none;
  			display: inline-block;
  			cursor: pointer;
  		}

  		img {
		    width: 90px;
		    height: 90px;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    object-fit: cover;
  		}
  	}
  }

}

@media screen and (min-width: 762px) {
  .platform-browser ion-content {
    overflow-y: auto !important;
  }
}

.body-content {

  .container-fluid, .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .col-sm-12 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  .list-group-item {
    padding: 0 1px;
  }

  .panel-footer {
    padding: 3px 5px;
  }

  .list-group .list-group-item .row-picture {
    padding-right: 5px;
  }

}

.padding-5 {
  padding: 5px !important;
}

pre {
  border-width: 0;
  font-family: inherit;
  padding: 2px;
  margin: 0;
}

.pl-15 {
  padding-left: 15px;
}
