@media only screen and (max-width : 767px) {	
	/* Signup*/

	.btn-full-width{
		width:100%;
	}

	.steps {
		li {
			a {
				.icon {
					display: inherit !important;
					margin: 0 auto !important; 
				}
			}
		}

		.title {
	    	font-size: 14px;
	    	text-align: center;
	    	display: block !important;
	    	width: 100px !important;
	    	margin: 10px auto 0 auto;
		}
	}
	/*Signup end*/

	.logged-in {

		.navbar-default .navbar-collapse, .navbar-default .navbar-form {
			border: 0;
		}

		.btn-add-occurrence {
	    margin: 0px 10px;
    	width: 150px;
		}

		.nav-tabs {
			border-bottom: 0;
			
			li {
				width: 100%;
				display: block;

				a {
					border: 1px solid #ddd !important;
				}

				&.active {
					a {
						border-bottom: 1px solid #ddd !important;
						background: #eee !important;
					}
				}
			}
		}

		.btn-category {

			.btn {
				width: 100%;
			}
		}
	}

	.logged-out {

		&.first-step {

			.form-file {
		    display: block;
		    max-width: 100%;
		    margin: 0 auto 20px auto;
		    font-weight: bold;
			}
		}
	}
}